<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="./assets/headerLogo.jpeg" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MIU | ASCC</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"
        name="viewport" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="main.css" />
    <link rel="stylesheet" type="text/css" href="loginStyle.css" />

    <style>

    </style>
</head>

<body>
    <nav>
        <a href="index.html"><img class="navlogo" src="../../assets/Logo.png"></a>
        <a onclick="openNav()"><img class="NavIcon" src="../../assets/menu icon.png"></a>
    </nav>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="index.html">Home</a>
        <a id="announShow" href="Announcements.html">Announcements</a>
        <a id="adminShow" style="display: block;" href="adminPanel.html">Admin Panel</a>
        <a id="addPostShow" style="display: block;" href="addPost.html" class="active">Add Post</a>
        <a href="AboutUs.html" href="AboutUs.html">About Us</a>
        <a href="Achievments.html">Achievements</a>
        <a href="Commitees.html">Committees</a>
        <a style="display: block;" id="loginShow" href="login.html">Login</a>
        <a style="display: block;" id="registerShow" href="register.html">Register</a>
        <a style="display: none;" id="logoutShow">Logout</a>
    </div>
    <script>
        /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }       
    </script>
    <div class="surroundings">
        <div class="loginBox" style="margin-top: 100px;">
            <h2>Add Post</h2>
            <form>
                <div class="container">
                    <label for="fileIn"><b>Add Image:</b></label><br>
                    <input id="fileIn" name="fileIn" style="margin-bottom:50px ;" type="file" accept="image/*">
                    <br>
                    <label for="postTitle"><b>Post Title:</b></label><br>
                    <input id="postTitle" name="postTitle" style="margin-bottom:50px ;" type="text" required>
                    <br>
                    <label for="details"><b>Post Details:</b></label><br>
                    <textarea id="postDetails" name="details" cols="30" rows="10"
                        style="width: 100%; margin-bottom: 30px;" required></textarea>
                    <button id="addpost" type="submit">Post</button>
                </div>
            </form>
        </div>
    </div>
    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-app.js";
        import { doc, getDocs, getFirestore, collection } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-firestore.js"
        import { getDatabase } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-database.js"
        import { getStorage, ref, uploadBytes, getDownloadURL } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-storage.js"

        var firebaseConfig = {
            //Firebase config
            apiKey: "AIzaSyBRC3Z3hwO2K5GL4GuYT6lj2uHF81HhHIE",
            authDomain: "trialsocialmedia-24fd5.firebaseapp.com",
            databaseURL: "https://trialsocialmedia-24fd5-default-rtdb.firebaseio.com",
            projectId: "trialsocialmedia-24fd5",
            storageBucket: "trialsocialmedia-24fd5.appspot.com",
            messagingSenderId: "489989876046",
            appId: "1:489989876046:web:a6ee092801e1da5b45961f",
            measurementId: "G-NK7X1BMFS1"
        };


        const app = initializeApp(firebaseConfig);
        const db = getDatabase(app);
        const fs = getFirestore(app);
        const st = getStorage(app);
        var docRef = collection(fs, "posts");
        let fileUpload = document.getElementById("fileIn");
        let imageURL;


        let random_name_int = Math.floor(100000000 + Math.random() * 900000000);
        let random_name = random_name_int.toString();
        var storageRef = ref(st, random_name);
        if (fileUpload) {
            fileUpload.addEventListener('change', function (evt) {
                let firstFile = evt.target.files[0]; // upload the first file only
                let uploadTask = uploadBytes(storageRef, firstFile).then(function (snapshot) {

                    console.log('success! your image has been uploaded!');
                    getDownloadURL(storageRef).then(function (downloadURL) {
                        imageURL = downloadURL;
                        console.log('imageURL:', imageURL);
                    });


                });
            })

        };

        const docData = {

        };
    </script>
</body>
<script type="module" src="../Controllers/adminController.js"></script>
<script type="module" src="../Controllers/userController.js"></script>

</html>